@media  screen and (max-width: 768px){
    .announce3 {
        display: none;
    }
    .announce1{
        width: 513px;
        height: 251px;
    }
    .announce__title{
        font-size: 22px;
    }
    .announce2 p{
        font-size: 14px;
        margin: 13px 0 0 101px;
    }
    .announce1 div{
        margin: 36px 0 0 318px;
    }
    .announce1 p{
        margin: 17px 0 0 357px;
    }
    .announce2{
        width: 255px;
        height: 251px;
    }
    .announce2 div{
        margin: 173px 0 0 44px;
    }
    .old-price{
        font-size: 14px;
        margin: 0px 10px 0 0px;
    }
    .old-price:after{
        width: 57px;
    }
    .elem-flex-wrap0{
        display: block;
    }
    .elem-flex-wrap{
        width: 204px;
        margin-right: 39px;
    }
    .elem-flex-wrap2{
        margin-bottom: 80px;
    }
    .elem-flex-wrap2, .elem-flex-wrap5, .elem-flex-wrap8{
        margin-right: 0;
    }
    .elem-flex-wrap3{
        margin-bottom: 104px;
    }
    .text {
        margin-top: 44px;
    }

    .wrp-marg-top{
        margin-top: 39px;
    }
    .triangle:after{
        display: none;
    }
    .str-selected__triangle:after{
        top: 6px;
        left: 19px;
    }
    .str-selected__cross{
        margin: -9px -24px 0 0px;
        display: none;
        float: right;
        width: 50px;
        height: 30px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.5), white 20%);
    }
    .str-selected__cross:before{
        content: "";
        background: #f14a58;
        height: 18px; 
        width: 3px;
        transform: rotate(45deg);
        position: absolute; 
        left: 22px;
        top: 8px;
    }
    .str-selected__cross:after {
        content: "";
        height: 3px; 
        width: 18px;
        background: #f14a58;
        position: absolute; 
        transform: rotate(45deg);
        left: 15px;
        top: 15px;
    }
    .top-filter__str-container{
        width: 768px;
        height: 41px;
        position: relative;
    }
    .str-selected{
        width: 690px;
        margin: 25px auto;
        display: block;
        position: relative;
    }
    .str-selected__fashion, .str-selected__productType, .str-selected__color, .str-selected__brand, .str-selected__size, .str-selected__priceRange, .str-selected__triangle, .str-selected__cross{
        position: relative;
    }
    .top-filter {
        font-size: 14px;
        height: 65px;
        margin: 24px auto 0 auto;
        width: 768px;
    }
    .top-filter__ul{
        width: 100%;
        display: none;
        font-size: 17px;
        background: white;
        position: absolute;
        z-index: 2;
        padding: 0 0 0 40px;
    }
    .top-filter__li{
        width: 211px;
        border-right: none;
        background: white;
        font-size: 14px;
        padding: 24px 0 0px 20px;
    }
    .top-filter__select{
        display: block;
        position: static;
        color: #a8a8a8;
    }
    .top-filter__select li{
        border: none;
        padding: 10px 0 10px 0;
        position: relative;
        margin: 0 0 0 21px;
    }
    .disc-fashion, .disc-notSelected-fashion, .disc-productType, .disc-notSelected-productType, .disc-color, .disc-notSelected-color, .disc-brand, .disc-notSelected-brand, .disc-size, .disc-notSelected-size, .disc-priceRange, .disc-notSelected-priceRange{
        position: relative;
    }
    .li-notSelected-fashion, .li-notSelected-productType, .li-notSelected-color, .li-notSelected-brand, .li-notSelected-size, .li-notSelected-priceRange{
        color: black;
    }
    .disc-fashion:before, .disc-notSelected-fashion:before, .disc-productType:before, .disc-notSelected-productType:before, .disc-color:before, .disc-notSelected-color:before, .disc-brand:before, .disc-notSelected-brand:before, .disc-size:before, .disc-notSelected-size:before, .disc-priceRange:before, .disc-notSelected-priceRange:before{
        content: "";
        width: 6px; 
        height: 6px;
        background: #a8a8a8;
        border-radius: 50%;
        position: absolute;
        top: 12px;
        left: -20px;
    }
    .black-disc:before{
        background: black;
        content: "";
        width: 6px; 
        height: 6px;
        border-radius: 50%;
        position: absolute;
        top: 12px;
        left: -20px;
    }
    .red-disc:before{
        background: #f14a58;
        content: "";
        width: 6px; 
        height: 6px;
        border-radius: 50%;
        position: absolute;
        top: 12px;
        left: -20px;
    }
    .top-filter__select li:hover{
        background: white;
    }
    .top-filter__select li:first-child:active, .top-filter__select li:first-child:hover{
        color: black;
    }
    .top-filter__select li:last-child{
        border: none;
        padding-bottom: 35px;
    }
    .top-filter__select li:first-child{
        border: none
    }
    #ul-fashion, #ul-productType, #ul-color, #ul-brand, #ul-size, #ul-priceRange{
        margin: 0px 0 15px 0;
        display: block;
    }
    .vertical-align{
        vertical-align: top;
    }

    .selected-li-fashion, .selected-li-productType, .selected-li-color, .selected-li-brand, .selected-li-size, .selected-li-priceRange{
        font-size: 16px;
        color: #f14a58;
        position: absolute;
        margin: 15px 0px 0 -20px;
        width: 178px;
        padding: 0px 0px 14px 20px;
    }
    .select-item{
        font-size: 12px;
        position: absolute;
        border-right: none;
        margin: -5px 0 0 0;
    }
    .clicked-li{
        padding: 22px 0 15px 20px;
    }
    .tone{
        position: absolute;
        width: 100%;
        height: 3003px;
        z-index: 1;
        background: rgba(0, 0, 0, 0.3);
    }
    body{
        position: relative;
    }
}