@media  screen and (max-width: 375px){
    .map{
        width: 375px;
        margin: 20px auto 60px auto;
        font-size: 12px;
        height: 55px;
    }
    .map a{
        padding: 21px 0 0 30px;
    }
    .gallery__big-img1, .gallery__big-img2, .gallery__big-img3 {
        width: 335px;
        height: 223px;
    }
    .gallery__small-img1, .gallery__small-img2, .gallery__small-img3 {
        width: 112px;
        height: 73px;
        float: left;
    }
    .gallery__wrapper__small-imgs {
        float: none;
        margin: 0;
    }
    .item-feature__size input:first-child {
        margin-left: 33px;
    }
    .item-feature__inp {
        margin-right: 0;
        width: 78px;
    }
    .item-feature__price{
        font-size: 18px !important;
    }
    .item-feature__size, .item-feature__color {
        text-align: left !important;
    }
    .item-feature__color input:first-child {
        margin-left: 26px;
    }
    .gallery__wrapper {
        width: 337px;
    }
    .item-feature__size__label, .item-feature__color__label {
        margin: 0 0 0 10px;
    }
}

