@media  screen and (max-width: 768px){
    .blk__link {
        width: 145px;
    }
    .wrap-blk {
        width: 690px;
    }
    .text {
        width: 119px;
        right: -144px;
        top: -48px;
    }
    .indent {
        margin-top: 0;
    }
    .blk__info {
        width: 145px;
    }
    .wrapper-narrow p {
        width: 145px;
        text-align: left;
        margin: 0;
    }
    .price{
        font-size: 14px;
        margin: 54px 0 18px 0;
    }
    .price1 {
        margin: 77px 0 18px 0;
    } 
    .remove-btn {
        margin: 15px 0 0 0;
    }
    .advertisement {
        width: 768px;
        font-size: 11px;
        margin: 17px auto 30px auto;
    }
    input[value="Checkout"] {
        font-size: 20px;
        width: 261px;
        height: 70px;
    }
    .sum-price, .total-price {
        font-size: 20px;
    }
}